
.name , .personal , .edu, .project , .h4{
font-family:Inter, sans-serif ;
color: white;
background-color: gray;
font-weight: 14px;
front height: 24px;
}
.profile
{
	color:  #ff7613;
}
.description
{

text-align: left;

}
img {
  border-radius: 50%;
}
table
{
	background-color: black;
}
th,td {
  color: white;
  font-weight: bold;
 background-color:black;

}
.downloadBtn {
	display: block;
	text-decoration: underline;
	font-size: 1.6rem;
	margin-top: 1rem;
	color: grey;
}
.downloadBtn:hover {
	color: var(--primary-color);
}

